<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/calendario"></ion-back-button>
    </ion-buttons>
    <ion-title>Serviços Adicionais</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="decor">
    <ion-icon name="sparkles-outline"></ion-icon>
  </div>
 
  <!-- Campo de busca -->
  <div class="search-box">
    <ion-icon name="search-outline"></ion-icon>
    <ion-input
      placeholder="Buscar serviço"
      [(ngModel)]="query"
      (ionInput)="applyFilter()"
    ></ion-input>
  </div>
 
  <!-- Lista de serviços -->
  <div *ngFor="let service of filtered" class="service-card" (click)="toggleServico(service)">
    <div class="left">
      <div class="name">{{ service.name }}</div>
    </div>
 
    <div class="right">
      <div class="price">R$ {{ service.price | number: '1.2-2' }}</div>
      <div class="time">{{ service.time }}</div>
    </div>
 
    <ion-checkbox
      class="quadrado"
      [checked]="service.selected"
      (ionChange)="toggleServico(service)">
    </ion-checkbox>
  </div>
 
  <!-- Resumo -->
  <div *ngIf="servicosSelecionados.length > 0" class="resumo-servicos">
    <h3>Serviços Selecionados:</h3>
    <div *ngFor="let servico of servicosSelecionados" class="servico-item">
      <span class="servico-nome">{{ servico.name }}</span>
      <span class="servico-preco">R$ {{ servico.price | number: '1.2-2' }}</span>
    </div>
   
    <div class="total-adicional">
      <strong>Total adicional: R$ {{ calcularTotalAdicional() | number: '1.2-2' }}</strong>
    </div>
 
    <div class="total-geral">
      <strong>Total geral: R$ {{ calcularTotalGeral() | number: '1.2-2' }}</strong>
    </div>
 
    <!-- Botão para limpar seleções -->
    <ion-button expand="block" fill="clear" size="small" (click)="limparSelecoes()">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      Limpar Todos
    </ion-button>
  </div>
 
  <!-- Botões -->
  <div class="buttons">
    <ion-button class="cancelar" (click)="onCancelar()">Cancelar</ion-button>
    <ion-button (click)="onConfirmar()">Confirmar</ion-button>
  </div>

 
  <!-- 🔥 RODAPÉ DO CALENDÁRIO COPIADO AQUI -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/agendamento-home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/agendamento">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agendamentos</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-content>