<ion-content class="ion-padding custom-background">
  <div class="endereco-container">
    <h2>Seu endereço</h2>
    <p>Onde o seu cliente pode te encontrar?</p>

    <div class="input-container">
      <ion-icon name="location-outline" class="icone-local"></ion-icon>
      <input
        type="text"
        placeholder="DIGITE O SEU ENDEREÇO"
        [(ngModel)]="endereco"
        (input)="atualizarMapa()"
      />
    </div>

    <!-- Mapa via iframe -->
    <div class="map-wrapper">
     <iframe
       [src]="mapaUrl"
       allowfullscreen
       loading="lazy">
     </iframe>
    </div>


<div class="btn-container">
      <ion-button
expand="block" class="continuar-btn" routerLink="/salao">
        CONTINUAR
      </ion-button>
      
  <p class="mensagem" *ngIf="!endereco">
    Por favor, insira o endereço para continuar
  </p>
  </div>
</div>
</ion-content>