fundo {
  --background: #f9f6f5; // mais claro e suave
  font-family: Arial, sans-serif;
}
 
/* Logo */
.logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
 
.logo img {
  width: 70px;
  height: auto;
}
 
/* Calendário */
.card-calendario {
  margin: 0 15px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
 
ion-datetime.calendario {
  --background: transparent;
  --color: #222;
  --placeholder-color: #aaa;
  width: 100%;
  font-weight: bold;
}
 
/* Horários disponíveis */
.horarios-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
 
.horarios-container ion-button {
  border-radius: 10px;
  min-width: 80px;
  font-weight: bold;
  --background: #e6c7d9; // rosa claro
  --color: #222;
  transition: 0.3s;
}
 
.horarios-container ion-button.horario-selecionado {
  --background: #b884aa; // rosa mais escuro
  --color: #fff;
}
 
/* Card de serviço */
.card-servico {
  margin: 0 15px 20px;
  border-radius: 12px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
 
.add-servico {
  margin-top: 10px;
  color: #222;
  font-weight: bold;
  font-size: 14px;
}
 
/* Botão reservar */
.btn-reservar {
  margin: 0 15px 20px;
  --background: #d6a8c4; // rosa
  --color: #fff;
  border-radius: 12px;
  font-weight: bold;
}
 
/* Footer */
.footer {
  --background: #d6a8c4;
  display: flex;
  justify-content: space-around;
}
 
.disponiveis{
    color: #000000;
    text-align: center;
   
}