<ion-header>
  <ion-toolbar class="cima">
    <ion-img src="assets/teste-bellezza-logo.jpeg" alt="Logo" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 🔍 Barra de busca -->
  <div class="search-bar">
    <ion-searchbar placeholder="Buscar..."></ion-searchbar>
  </div>

  <!-- 🧠 Categorias com scroll horizontal -->
  <div class="category-scroll">
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Unhas</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Cabelo</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Bronze</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Cílios</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Sobrancelhas</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Maquiagem</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Depilação</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Massagens</ion-button>
    <ion-button (click)="irParaCategoria()" fill="solid" class="category">Pele</ion-button>
  </div>

<!-- 💅🏼 Ícones redondos com scroll horizontal -->
<div class="circle-scroll">
  <div class="circle" style="background-image: url('assets/Orion.jpeg');"></div>
  <div class="circle" style="background-image: url('assets/ExtraFitness.jpeg');"></div>
  <div class="circle" style="background-image: url('assets/Manicure.jpeg');"></div>
  <div class="circle" style="background-image: url('assets/HairSalon.jpeg');"></div>
  <div class="circle" style="background-image: url('assets/SalãoMãeeFilhas.jpeg');"></div>
  <div class="circle" style="background-image: url('assets/LaBelleStyleP.jpeg');"></div>
</div>

<!-- 📦 Cards retangulares verticais -->
<div class="card-list">
  <div class="card" style="background-image: url('assets/MakeUp.jpeg');"></div>
  <div class="card" style="background-image: url('assets/DagtarErion.jpeg');"></div>
  <div class="card" style="background-image: url('assets/EyeLashes.jpeg');"></div>
  <div class="card" style="background-image: url('assets/BlajiSal.jpeg');"></div>
  <div class="card" style="background-image: url('assets/SkinCare.jpeg');"></div>
</div>


</ion-content>

<!-- ⚙️ Rodapé fixo -->
<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Início</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/agendamento">
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label>Agendamentos</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="irParaPerfil()" routerLink="/perfil">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
