<ion-content class="container" fullscreen>
  <div class="content">
    <h2>Ative sua localização!</h2>
    <p>
      Ajude-nos a encontrarmos empresas locais que possam te proporcionar o melhor atendimento!
    </p>

    <!-- Ícone -->
  <div class="logo-container">
    <img src="assets\bellezza-localizacao.jpeg" alt="Logo Bellezza" class="logo" />
  <div>
    <p>     </p>
    <p>     </p>
    <p>     </p>
    <p>     </p>
  </div>
  </div>


    <!-- Botão -->
    <ion-button expand="block" class="btn-continuar" routerLink="/perfil">
      Continuar
    </ion-button>
  </div>
</ion-content>
