.custom-background {
  --background: #f2efeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 40px;
}

/* Logo */
.logo-container {
  margin-top: 60px;
}
.logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

/* Título */
.title {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

/* Formulário */
.form-container {
  margin-top: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* Campos */
.input-item {
  --background: #97a083;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #000;
  font-weight: 500;
}

/* Botão */
.btn-cadastrar {
  --background: #97a083;
  --border-radius: 14px;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

/* Divisores */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d4a7c2;
  margin: 20px auto;
  width: 80%;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #97a083;
  margin: 0 10px;
}

.star {
  font-size: 18px;
  color: #97a083;
}
