.custom-background {
  --background: #f2efeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
 
.logo-container {
  margin-top: 20px;
}
 
.logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}
 
.logo-text {
  font-family: 'Georgia', serif;
  font-size: 26px;
  font-weight: 500;
  margin-top: 8px;
}
 
.title {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}
 
/* Container do formulário */
.form-container {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
 
/* Estilo dos campos */
.input-item {
  --background: #d89cb4;
  border-radius: 8px;
  margin-bottom: 12px;
  color: rgb(0, 0, 0);
}
 
/* Botão de cadastrar */
.btn-cadastrar {
  --background: #d89cb4;
  --border-radius: 12px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}
.toast-erro-customizado {
  --color: #000000;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
}
 
.toast-sucesso-customizado {
  --color: #000000;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
}