<ion-content [fullscreen]="true" class="ion-padding">
 
  <!-- BOTÃO VOLTAR -->
  <ion-button fill="clear" class="back-button" routerLink="/categoria">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
 
  <div class="header-new">
    <div class="logo-circle">
      <img *ngIf="salonData.logoUrl" [src]="salonData.logoUrl" alt="Logo" class="logo-image">
      <span class="initials" *ngIf="!salonData.logoUrl">{{ salonData.initials }}</span>
    </div>
 
    <h1 class="salon-title">{{ salonData.title }}</h1>
    <p class="salon-description">{{ salonData.description }}</p>
 
    <div class="professional-info">
      <p class="professional-name">{{ salonData.professionalName }}</p>
      <div class="professional-role">
        <ion-icon name="cut-outline"></ion-icon>
        <span>{{ salonData.professionalRole }}</span>
      </div>
    </div>
 
    <div class="address-info">
      <ion-icon name="location-outline"></ion-icon>
      <span>{{ salonData.address }}</span>
    </div>
 
    <div class="appointment-banner">{{ salonData.appointmentText }}</div>
  </div>
 
  <!-- GALERIA -->
  <div class="image-gallery">
    <div class="gallery-scroll">
      <div class="gallery-item" *ngFor="let img of salonData.images">
        <img [src]="img" />
      </div>
    </div>
  </div>
 
  <!-- AVALIAÇÃO -->
  <div class="ratings-section">
    <p class="rating-title">Dê sua opinião</p>
 
    <div class="stars-input">
      <ion-icon *ngFor="let star of [1,2,3,4,5]"
        [name]="star <= selectedRating ? 'star' : 'star-outline'"
        (click)="setRating(star)">
      </ion-icon>
    </div>
 
    <div class="rating-summary">
      <div class="rating-score">
        <div class="stars-display">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
        <p class="total-reviews">{{ getTotalReviews() }}</p>
      </div>
 
      <div class="rating-bars">
        <div class="bar-item" *ngFor="let avaliacao of avaliacoes">
          <div class="bar-container">
            <div class="bar-fill" [style.width]="getProgressWidth(avaliacao.quantidade)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</ion-content> detalhes-salao.html
 