<ion-content class="ion-padding custom-background">

<div class="header-container">
  <!-- Enfeite rosa -->
  <div class="divider">
    <span class="star">✦</span>
  </div>
</div>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/teste-bellezza-logo.jpeg" alt="Logo Bellezza" class="logo" />
  </div>

  <!-- Título -->
  <h2 class="title">Cadastre-se</h2>

  <!-- Botões -->
  <div class="button-group">
    <ion-button expand="block" class="btn-cliente" routerLink="/cadastro-cliente">
      CLIENTE
    </ion-button>
    <ion-button expand="block" class="btn-profissional">
      PROFISSIONAL
    </ion-button>
  </div>

<div class="header-container">
  <!-- Enfeite rosa -->
  <div class="divider">
    <span class="star">✦</span>
  </div>
</div>

</ion-content>